module nrpe 1.55;

require {
	type admin_home_t;
	type bin_t;
	type binfmt_misc_fs_t;
	type boot_t;
	type configfs_t;
	type consolehelper_exec_t;
	type devlog_t;
	type devpts_t;
	type dhcp_etc_t;
	type dhcpd_state_t;
	type dnssec_t;
	type etc_runtime_t;
	type fixed_disk_device_t;
	type fs_t;
	type hddtemp_exec_t;
	type hostname_exec_t;
	type httpd_config_t;
	type httpd_nagios_script_t;
	type httpd_sys_content_t;
	type httpd_t;
	type init_t;
	type initrc_t;
	type initrc_tmp_t;
	type initrc_var_run_t;
	type iptables_t;
	type kernel_t;
	type mysqld_db_t;
	type nagios_checkdisk_plugin_t;
	type nagios_log_t;
	type nagios_mail_plugin_t;
	type nagios_services_plugin_exec_t;
	type nagios_services_plugin_t;
	type nagios_system_plugin_exec_t;
	type nagios_system_plugin_t;
	type nagios_t;
	type nagios_tmp_t;
	type nagios_unconfined_plugin_t;
	type named_checkconf_exec_t;
	type named_conf_t;
	type named_log_t;
	type named_zone_t;
	type ndc_exec_t;
	type nrpe_exec_t;
	type nrpe_t;
	type ping_t;
	type postfix_data_t;
	type postfix_master_exec_t;
	type postfix_master_t;
	type postfix_postqueue_exec_t;
	type postfix_public_t;
	type postfix_spool_t;
	type proc_net_t;
	type proc_t;
	type puppet_etc_t;
	type puppet_log_t;
	type puppet_var_lib_t;
	type puppet_var_run_t;
	type radiusd_etc_t;
	type radiusd_log_t;
	type radiusd_t;
	type rpm_exec_t;
	type rpm_log_t;
	type rpm_var_cache_t;
	type rpm_var_lib_t;
	type sbin_t;
	type security_t;
	type sendmail_exec_t;
	type shell_exec_t;
	type sudo_db_t;
	type sudo_exec_t;
	type sysctl_fs_t;
	type sysctl_kernel_t;
	type sysctl_net_t;
	type sysfs_t;
	type syslogd_t;
	type system_mail_t;
	type tmp_t;
	type tty_device_t;
	type urandom_device_t;
	type user_devpts_t;
	type user_tmp_t;
	type user_tty_device_t;
	type usr_t;
	type var_lib_t;
	type var_log_t;
	type var_run_t;
	type var_spool_t;
	type winbind_helper_exec_t;

	class blk_file { getattr };
	class capability { audit_write dac_override setgid setuid sys_nice sys_ptrace sys_resource };
	class chr_file { getattr ioctl read write };
	class dir { add_name create getattr open read remove_name search setattr write };
	class file { append create execute execute_no_trans getattr ioctl lock open read rename setattr unlink write };
	class filesystem { getattr };
	class key { write };
	class lnk_file { read };
	class netlink_audit_socket { create nlmsg_relay read write };
	class process { execmem noatsecure rlimitinh setpgid setrlimit setsched siginh signal signull };
	class sem { create destroy read unix_write write };
	class shm { associate create destroy getattr read unix_read unix_write write };
	class sock_file { getattr write };
	class tcp_socket { read write };
	class unix_dgram_socket { connect create sendto write };
	class unix_stream_socket { connectto };
}

#============= httpd_t ==============
allow httpd_t httpd_nagios_script_t:process { noatsecure rlimitinh siginh };
allow httpd_t user_devpts_t:chr_file { read write };

#============= iptables_t ==============
allow iptables_t puppet_var_lib_t:file { write };
allow iptables_t user_tmp_t:file { read write };

#============= nagios_checkdisk_plugin_t ==============
allow nagios_checkdisk_plugin_t configfs_t:dir { getattr };
allow nagios_checkdisk_plugin_t nrpe_t:tcp_socket { read write };

#============= nagios_mail_plugin_t ==============
allow nagios_mail_plugin_t nagios_services_plugin_exec_t:file { getattr ioctl open read };
allow nagios_mail_plugin_t nrpe_t:tcp_socket { read write };
allow nagios_mail_plugin_t postfix_data_t:dir { getattr };
allow nagios_mail_plugin_t postfix_master_exec_t:file { getattr };
allow nagios_mail_plugin_t system_mail_t:process { noatsecure rlimitinh siginh };

#============= nagios_services_plugin_t ==============
allow nagios_services_plugin_t admin_home_t:dir { getattr search };
allow nagios_services_plugin_t binfmt_misc_fs_t:dir { getattr };
allow nagios_services_plugin_t binfmt_misc_fs_t:filesystem { getattr };
allow nagios_services_plugin_t boot_t:dir { getattr };
allow nagios_services_plugin_t consolehelper_exec_t:file { getattr };
allow nagios_services_plugin_t devlog_t:sock_file { getattr write };
allow nagios_services_plugin_t devpts_t:dir { getattr search };
allow nagios_services_plugin_t devpts_t:filesystem { getattr };
allow nagios_services_plugin_t dhcp_etc_t:dir { search };
allow nagios_services_plugin_t dhcp_etc_t:file { getattr open read };
allow nagios_services_plugin_t dhcpd_state_t:dir { search };
allow nagios_services_plugin_t dhcpd_state_t:file { getattr ioctl open read };
allow nagios_services_plugin_t dnssec_t:file { getattr open read };
allow nagios_services_plugin_t fixed_disk_device_t:blk_file { getattr };
allow nagios_services_plugin_t fs_t:filesystem { getattr };
allow nagios_services_plugin_t hddtemp_exec_t:file { execute execute_no_trans getattr open read };
allow nagios_services_plugin_t hostname_exec_t:file { execute execute_no_trans open read };
allow nagios_services_plugin_t httpd_config_t:dir { open read search };
allow nagios_services_plugin_t httpd_config_t:file { getattr open read };
allow nagios_services_plugin_t httpd_sys_content_t:dir { open read search };
allow nagios_services_plugin_t httpd_sys_content_t:file { getattr open read };
allow nagios_services_plugin_t init_t:unix_stream_socket { connectto };
allow nagios_services_plugin_t initrc_var_run_t:file { lock open read };
allow nagios_services_plugin_t kernel_t:unix_dgram_socket { sendto };
allow nagios_services_plugin_t mysqld_db_t:sock_file { write };
allow nagios_services_plugin_t nagios_log_t:dir { search };
allow nagios_services_plugin_t nagios_log_t:file { open read write };
allow nagios_services_plugin_t nagios_services_plugin_exec_t:file { execute_no_trans };
allow nagios_services_plugin_t nagios_system_plugin_exec_t:file { execute execute_no_trans getattr open read };
allow nagios_services_plugin_t nagios_tmp_t:file { append };
allow nagios_services_plugin_t named_checkconf_exec_t:file { execute execute_no_trans getattr open read };
allow nagios_services_plugin_t named_conf_t:file { getattr open read };
allow nagios_services_plugin_t named_log_t:file { ioctl open read };
allow nagios_services_plugin_t named_zone_t:dir { search };
allow nagios_services_plugin_t ndc_exec_t:file { execute execute_no_trans getattr open read };
allow nagios_services_plugin_t nrpe_exec_t:file { getattr };
allow nagios_services_plugin_t nrpe_t:tcp_socket { read write };
allow nagios_services_plugin_t postfix_master_t:unix_stream_socket { connectto };
allow nagios_services_plugin_t postfix_postqueue_exec_t:file { execute execute_no_trans open read };
allow nagios_services_plugin_t postfix_public_t:dir { search };
allow nagios_services_plugin_t postfix_public_t:sock_file { write };
allow nagios_services_plugin_t postfix_spool_t:dir { search };
allow nagios_services_plugin_t proc_net_t:file { getattr ioctl open read };
allow nagios_services_plugin_t proc_t:filesystem { getattr };
allow nagios_services_plugin_t puppet_etc_t:dir { getattr open read search };
allow nagios_services_plugin_t puppet_etc_t:file { getattr ioctl open read };
allow nagios_services_plugin_t puppet_log_t:dir { search };
allow nagios_services_plugin_t puppet_log_t:file { open read };
allow nagios_services_plugin_t puppet_var_lib_t:dir { getattr open read search };
allow nagios_services_plugin_t puppet_var_lib_t:file { getattr ioctl open read };
allow nagios_services_plugin_t puppet_var_run_t:dir { search };
allow nagios_services_plugin_t puppet_var_run_t:file { getattr open read };
allow nagios_services_plugin_t radiusd_etc_t:dir { getattr open read search };
allow nagios_services_plugin_t radiusd_etc_t:file { getattr open read };
allow nagios_services_plugin_t radiusd_etc_t:lnk_file { read };
allow nagios_services_plugin_t radiusd_log_t:dir { search };
allow nagios_services_plugin_t radiusd_log_t:file { ioctl open read };
allow nagios_services_plugin_t rpm_exec_t:file { execute execute_no_trans getattr ioctl open read };
allow nagios_services_plugin_t rpm_log_t:file { open };
allow nagios_services_plugin_t rpm_var_cache_t:dir { add_name create getattr read remove_name search write };
allow nagios_services_plugin_t rpm_var_cache_t:file { create getattr open read rename setattr unlink };
allow nagios_services_plugin_t rpm_var_lib_t:dir { add_name create getattr search write };
allow nagios_services_plugin_t rpm_var_lib_t:file { getattr lock open read write };
allow nagios_services_plugin_t security_t:file { open read };
allow nagios_services_plugin_t self:capability { audit_write dac_override setgid setuid sys_nice sys_ptrace sys_resource };
allow nagios_services_plugin_t self:netlink_audit_socket { create nlmsg_relay read write };
allow nagios_services_plugin_t self:process { execmem setpgid setrlimit setsched };
allow nagios_services_plugin_t self:shm { associate create destroy getattr read unix_read unix_write write };
allow nagios_services_plugin_t self:unix_dgram_socket { connect create write };
allow nagios_services_plugin_t sendmail_exec_t:file { execute execute_no_trans getattr open read };
allow nagios_services_plugin_t shell_exec_t:file { execute execute_no_trans getattr open read };
allow nagios_services_plugin_t sudo_db_t:dir { add_name create };
allow nagios_services_plugin_t sudo_exec_t:file { execute execute_no_trans getattr open read };
allow nagios_services_plugin_t sysctl_fs_t:dir { search };
allow nagios_services_plugin_t sysctl_kernel_t:dir { search };
allow nagios_services_plugin_t sysctl_kernel_t:file { read };
allow nagios_services_plugin_t sysctl_net_t:dir { read search };
allow nagios_services_plugin_t sysctl_net_t:file { getattr open read };
allow nagios_services_plugin_t sysfs_t:dir { getattr open read search };
allow nagios_services_plugin_t sysfs_t:filesystem { getattr };
allow nagios_services_plugin_t syslogd_t:unix_dgram_socket { sendto };
allow nagios_services_plugin_t tmp_t:dir { add_name create read remove_name write };
allow nagios_services_plugin_t tmp_t:file { append create getattr ioctl lock open read rename setattr unlink write };
allow nagios_services_plugin_t tmp_t:sock_file { getattr write };
allow nagios_services_plugin_t tty_device_t:chr_file { getattr };
allow nagios_services_plugin_t user_devpts_t:chr_file { getattr };
allow nagios_services_plugin_t user_tmp_t:dir { getattr open read };
allow nagios_services_plugin_t user_tmp_t:file { ioctl open read write };
allow nagios_services_plugin_t user_tty_device_t:chr_file { getattr };
allow nagios_services_plugin_t var_log_t:dir { search };
allow nagios_services_plugin_t var_log_t:file { open read };
allow nagios_services_plugin_t var_run_t:dir { add_name remove_name write };
allow nagios_services_plugin_t var_run_t:file { create open unlink write };
allow nagios_services_plugin_t var_spool_t:dir { search };
allow nagios_services_plugin_t winbind_helper_exec_t:file { execute execute_no_trans open read };

#============= nagios_system_plugin_t ==============
allow nagios_system_plugin_t nagios_log_t:file { write };
allow nagios_system_plugin_t nagios_services_plugin_exec_t:file { getattr };
allow nagios_system_plugin_t nagios_tmp_t:file { append };
allow nagios_system_plugin_t nrpe_t:tcp_socket { read write };
allow nagios_system_plugin_t tmp_t:file { append };
allow nagios_system_plugin_t var_log_t:dir { search };

#============= nagios_t ==============
allow nagios_t initrc_tmp_t:file { getattr ioctl open read write };
allow nagios_t nagios_services_plugin_exec_t:dir { search };
allow nagios_t nagios_services_plugin_t:process { noatsecure rlimitinh siginh };
allow nagios_t nagios_system_plugin_t:process { noatsecure rlimitinh siginh };
allow nagios_t proc_net_t:file { getattr open read };
allow nagios_t system_mail_t:process { noatsecure rlimitinh siginh };
allow nagios_t tmp_t:file { append getattr ioctl open read write };
allow nagios_t var_lib_t:dir { add_name create remove_name write };
allow nagios_t var_lib_t:file { create getattr ioctl lock open read rename unlink write };

#============= nrpe_t ==============
allow nrpe_t bin_t:lnk_file { read };
allow nrpe_t fixed_disk_device_t:blk_file { getattr };
allow nrpe_t initrc_t:unix_stream_socket { connectto };
allow nrpe_t nagios_checkdisk_plugin_t:process { noatsecure rlimitinh siginh };
allow nrpe_t nagios_mail_plugin_t:process { noatsecure rlimitinh siginh };
allow nrpe_t nagios_services_plugin_exec_t:file { ioctl };
allow nrpe_t nagios_services_plugin_t:process { noatsecure rlimitinh siginh };
allow nrpe_t nagios_system_plugin_t:process { noatsecure rlimitinh siginh };
allow nrpe_t nagios_unconfined_plugin_t:process { noatsecure rlimitinh siginh };
allow nrpe_t proc_net_t:file { getattr ioctl open read };
allow nrpe_t puppet_log_t:file { read };
allow nrpe_t self:capability { audit_write sys_resource };
allow nrpe_t self:key { write };
allow nrpe_t self:netlink_audit_socket { create nlmsg_relay read write };
allow nrpe_t self:sem { create destroy read unix_write write };
allow nrpe_t sudo_exec_t:file { create execute execute_no_trans getattr open read };
allow nrpe_t tmp_t:dir { add_name write };
allow nrpe_t tmp_t:file { create getattr ioctl open read write };
allow nrpe_t urandom_device_t:chr_file { getattr ioctl read };
allow nrpe_t user_tmp_t:file { read write };
allow nrpe_t usr_t:file { getattr ioctl open read };
allow nrpe_t usr_t:lnk_file { read };
allow nrpe_t var_lib_t:file { getattr lock open read };
allow nrpe_t var_lib_t:sock_file { write };
allow nrpe_t winbind_helper_exec_t:file { execute };

#============= ping_t ==============
allow ping_t nagios_log_t:file { read write };
allow ping_t tmp_t:file { append };

#============= radiusd_t ==============
allow radiusd_t radiusd_etc_t:file { execute execute_no_trans };

#============= system_mail_t ==============
allow system_mail_t nrpe_t:tcp_socket { read write };
allow system_mail_t tmp_t:file { append };
