module resnet-jvm 1.2;

require {
	type nagios_services_plugin_t;
	type unconfined_service_t;
	type user_tmp_t;

	class dir { getattr open };
	class process { signal };
}

#============= nagios_services_plugin_t ==============
allow nagios_services_plugin_t unconfined_service_t:process { signal };
allow nagios_services_plugin_t user_tmp_t:dir { getattr open };
